$font-Lato: 'Lato', sans-serif;
$lato-font-weight-light: 400;
$lato-font-weight-bold: 700;

$font-Montserrat: 'Montserrat', sans-serif;
$montserrat-font-weight-light: 300;
$montserrat-font-weight-regular: 400;
$montserrat-font-weight-bold: 700;

$main-color: #8d81ac;
$white-text: #ffffff;
$color-charcoal: #27262a;
$color-white: #fff;
$color-charcoal-light: #333333;
$color-charcoal-dark: #3b3b3b;
$color-slate: #848e97;
$color-dark-grey: #323232;
$color-pale-lilac: #a291a5;
$color-dark-slate-gray: #645766;

$breakpoint-small: 480px;
$breakpoint-medium: 992px;
$small-screen-breakpoint: 481px;
$medium-screen-breakpoint: 993px;